/* Large rounded green border */
hr.new5 {
  border: 10px solid blue;
  border-radius: 5px;
}


.card {
  
  text-align: center;
  font-family: arial;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
 
  display: table;
  clear: both;
}

