h3 {
   color: blue;
   
 }

#chart{
  position: absolute;
  left: 100px; 
  top: 100px; 
  width: 700px;
  height: 700px;
  
  
}


.card1 {
  
    
  
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  margin: auto;
  
  display: block;
  font-family: arial;

}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.card h1,h4 {
   
   text-align: center;
 }



/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
